body {
    font-family:Arial;
    background-color: #d7d8cc; }
h1 {
    color: #29433d;
    background-color: #f4f6eb;
    padding: 20px; }
p {
    padding-left: 20px;
    padding-right: 20px;
}
h2 {color: #29433d;
    background-color: #f4f6eb;
    padding: 20px; }
p {
    padding-left: 20px;
    padding-right: 20px;
}